.burger-sid {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  padding: 100px;
  margin-bottom: 40px;

  &__close {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    svg {
      width: 60px;
      height: 60px;
    }
  }


  @media (max-width: 1079.97px) {
    @include adaptivValue(padding, 100, 0);
  }
}